h1 {
    color: #f44336;
}

td, th {
    padding: 0.5rem;
}

.card {
    text-align: center;
}

.icon {
    font-size: x-large;
    padding: 0;
}

.del {
    cursor: pointer;
}

.del:hover {
    background: #ff8080;
}