.filter-checkbox {
    display: none;
}

.filter-label {
    background: #ccc none no-repeat 10px;
    background-color: #ccc;
    background-size: 30px 30px;
    border-radius: 25px;
    transition: all .2s ease-out;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    display: inline-block;
}

@media screen and (max-width: 600px) {
    .filter-label {
        display: block;
    }
}